.git
.github
node_modules
vendor
public/build
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.production.example
tests
docs
*.md
docker-compose*.yml
.phpunit.result.cache
